parameters:
	ignoreErrors:
		-
			message: "#^Method SerendipityHQ\\\\Component\\\\Stopwatch\\\\Properties\\\\Memory\\:\\:measure\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Properties/Memory.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Stopwatch.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\MockObject\\\\MockBuilder\\<SerendipityHQ\\\\Component\\\\Stopwatch\\\\Event\\>\\:\\:getMock\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/StopwatchTest.php

